.flex-container {
  display: flex;
}

header {
  flex-direction: column;
  padding: 1.5rem;
}

.logo {
  width: 50vw;
  margin-bottom: 1rem;
}

svg {
  width: 24px;
  height: 24px;
  margin-bottom: 1rem;
}

nav {
  display: none;
}

.banner {
  background-image: url("./img/02-banner@2x-scaled.jpg");
  background-size: cover;
  background-position: center;
  padding: 85px 30px;
  flex-direction: column;
}

.content {
  flex-direction: column;
  padding: 150px 30px;
}

#logo {
  width: 100%;
}

#marco {
  width: 100px;
  height: auto;
  padding-bottom: 40px;
}

#marco-red {
  display: block;
  width: 120px;
  height: auto;
  padding-top: 40px;
}

#festa {
  width: 300px;
  height: auto;
}

#arte {
  display: block;
  width: 170px;
  height: auto;
  padding-top: 30px;
}

#andorra {
  width: 200px;
  height: auto;
  padding-top: 68px;
}

#bubbles {
  width: 100%;
  height: auto;
}

.bottom {
  margin: 0 30px;
  border-top: 1px solid black;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 10px;
}

.bottom div:first-child p {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 16px;
  vertical-align: top;
  line-height: 1.5;
}

.bottom div:first-child img {
  width: 60%;
  margin-bottom: 16px;
}

.bottom div:last-child {
  align-self: center;
  padding-top: 10px;
  margin-top: 20px;
}

footer {
  flex-direction: column;
  background-color: #2c2e34;
  color: white;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

footer a {
  text-decoration: none;
  color: white;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
}

@media only screen and (min-width: 750px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 2%;
  }
  header svg {
    display: none;
  }
  .logo {
    width: 10vw;
  }
  nav {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
  }

  nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 20px;
  }

  .content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  #logo {
    width: 100%;
  }

  #marco-red,
  #art {
    padding-top: 40px;
  }

  #andorra {
    padding-top: 108px;
  }

  #bubbles {
    width: 50%;
    height: auto;
  }

  .bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .bottom div:first-child img {
    width: 10vw;
  }
  .bottom div:first-child img,
  .bottom div:first-child p {
    display: inline-block;
    padding-right: 150px;
    text-align: left;
  }

  .bottom div:last-child {
    justify-content: space-around;
    gap: 10px;
    padding-right: 50px;
    margin-top: 0;
    padding-top: 0;
  }

  footer {
    flex-direction: row;
    align-items: center;
    padding: 1rem;
  }

  footer p,
  footer a {
    padding-right: 150px;
  }
}
